.heading {
    display: flex;
    justify-content: center;
    //margin-top: 20%;
}

.main {
    animation: changeBg 1s linear infinite;
    padding: 21% 0%;
}

.home-button {
    padding: 1% 2%;
    margin: 0% 2%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}